.about {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-content {
  background-color: rgb(14, 74, 92);
  width: 100%;
  height: 101.6vh;
  font-family: "Special Elite", cursive;
  letter-spacing: 3px;
  margin-top: -3vh !important;
}

.about-bio {
  color: white;
  font-size: 14px;
  padding: 13vw;
}

.about-pic {
  width: 30vw;
  margin-top: 8.7vh;
  float: left;
  margin-left: 5vw;
  margin-right: 5vw;
}

@media only screen and (max-width: 1025px) {
  .about-content {
    height: 103vh;
  }

  .about-pic {
    width: 40vh;
    float: unset;
    margin-top: 20vh;
    margin-bottom: -2vh;
  }

  .about-bio {
    background-color: rgb(11, 61, 77);
    font-size: 18px;
    padding: 10vw;
  }
}

@media only screen and (max-width: 770px) {
  .about-content {
    height: 103vh;
  }

  .about-pic {
    width: 50vh;
    float: unset;
    margin-top: 5vh;
    margin-bottom: -2.5vh;
  }

  .about-bio {
    background-color: rgb(11, 61, 77);
    font-size: 18px;
    padding: 4vw;
  }
}

@media only screen and (max-width: 600px) {
  .about-content {
    width: 100.7vw;
    height: 103.2vh;
  }

  .about-bio {
    font-size: 15px;
    margin-top: 30px;
    padding: 20px;
  }

  .about-pic {
    width: 80vw;
    margin-bottom: -4.5vh;
  }
}
