.card {
  background-color: rgb(85, 107, 106);
  border-radius: 10px !important;
  height: 40vh;
  width: 20vw;
  text-align: left;
  border: 2px white solid;
}

.card-container {
  height: auto;
  float: left;
  margin-right: 5vw;
}

.card > .img-container {
  height: 20vh;
  overflow: hidden;
  text-align: center;
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
  margin-top: 10px;
}

.card > .img-container > img {
  width: 15.2vw;
}

.content {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Poiret One", cursive;
}

.content-about {
  font-size: 10px;
  padding: 10px;
}

.card-link {
  color: white;
}

.card-link:hover {
  cursor: pointer;
}

.card:hover {
  border-color: rgb(224, 150, 79);
  background-color: rgb(75, 95, 94);
  box-shadow: 10px 5px 20px black;
}

@media only screen and (max-width: 1025px) {
  .card {
    width: 20vw !important;
    height: 30vh !important;
  }

  .card > .img-container > img {
    width: 20vw;
  }

  .card-container {
    padding-left: 10vw;
    padding-top: 5vh;
  }
}

@media only screen and (max-width: 770px) {
  .card {
    height: 35vh !important;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80vw !important;
    height: 35vh !important;
    margin-bottom: -20px;
  }

  .card > .img-container > img {
    width: 80vw;
  }

  .card-container {
    padding-left: unset;
    padding-top: 10vh !important;
  }
}
