.card {
  background-color: rgb(0, 36, 58);
  border-radius: 10px !important;
  height: 0.5vh;
  margin: 1rem;
  float: left;
  width: 10vw;
  text-align: left;
  margin-bottom: 40px;
  border: 3px white solid;
  margin-top: 100px;
}

.card:hover {
  height: 60vh;
  width: 200px;
}

.card-container {
  padding-left: 11vw;
}

.card > .img-container {
  height: 70%;
  overflow: hidden;
  text-align: center;
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}
.card > .img-container > img {
  width: 15.2vw;
}

.content {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif !important;
}

.content-about {
  font-size: 10px;
  padding: 10px;
}

.card-link {
  color: white;
}

.card-link:hover {
  color: rgb(228, 91, 0);
  cursor: pointer;
}

@media only screen and (max-width: 1025px) {
  .card {
    width: 40%;
    height: 20vh;
  }

  .card > .img-container > img {
    width: 40vw;
  }
}

@media only screen and (max-width: 1025px) {
  .card {
    width: 40%;
    height: 24vh;
  }
}

@media only screen and (max-width: 770px) {
  .card {
    height: 28vh;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 50vh;
    margin-bottom: -20px;
  }

  .card > .img-container > img {
    width: 70vw;
  }
}
