.social-container {
  color: white;
  position: fixed;
  bottom: 2vh;
  width: 10vw;
  z-index: 10;
  left: 2vw;
}

.social-icon {
  margin-bottom: 2vh;
  color: white !important;
  float: left;
  margin-left: 20px;
}

.social-icon:hover {
  color: rgb(224, 150, 79) !important;
}

@media only screen and (max-width: 1025px) {
  .social-container {
    display: none;
  }
}
