.nav {
  width: 100vw !important;
  position: fixed;
  bottom: 0px;
  z-index: 4;
  font-family: "Poiret One", cursive;
  letter-spacing: 2px;
  padding-bottom: 2vh;
  background-color: rgba(0, 0, 0, 0.349);
}

.nav-link {
  color: white;
}

.nav-ul {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-li {
  font-size: 20px;
  text-decoration: none;
  margin-right: 2vw;
  margin-left: 2vw;
  border: 2px white solid;
  border-radius: 10px;
  padding: 9px;
  float: right;
  color: white;
}

.nav-li:hover {
  color: rgb(224, 150, 79);
  border-color: rgb(224, 150, 79);
  filter: blur(2px);
}

@media only screen and (max-width: 1025px) {
  .nav {
    display: none;
  }
}
