@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Permanent+Marker&family=Walter+Turncoat&display=swap");

.mobile-nav {
  display: none !important;
}

@media only screen and (max-width: 1025px) {
  button {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    float: left;
    margin-top: 3vh;
  }

  .MuiPaper-root {
    text-align: -webkit-center;
  }

  .MuiPopover-paper {
    outline: 0;
    position: absolute;
    max-width: none !important;
    max-height: none !important;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.877) !important;
    left: 0px !important;
    width: 105vw;
    height: 101vh;
    top: 0px !important;
    bottom: 0px !important;
  }

  .mobile-nav {
    display: initial !important;
    position: fixed;
    z-index: 8;
    text-align: center;
    width: 100vw;
    background-color: rgb(97, 93, 56);
    height: 200px;
    padding: 30px;
  }

  .mobile-nav-container {
    margin-left: 35vw;
    margin-top: 10vh;
    display: grid;
    margin-left: 30vw;
  }

  .hamburger {
    color: white !important;
  }

  .mobile-close {
    color: white;
    float: right;
    margin-right: 4vw;
    margin-top: 2vh;
  }

  .MuiMenu-list {
    height: 98vh !important;
    width: 97vw !important;
  }

  .menu-item-mobile {
    font-size: 40px !important;
    margin-top: 5vh !important;
  }

  button:focus {
    outline: none;
    background-color: rgb(106, 140, 168, 0);
  }

  .mobile-ul {
    color: white;
    font-family: "Permanent Marker", cursive;
    font-size: 75px !important;
  }

  .logoMobile {
    width: 15vw;
    margin-top: -10px;
    margin-left: -70px;
  }
}

@media only screen and (max-width: 770px) {
  .MuiMenu-list {
    height: 97vh !important;
    width: 96vw !important;
  }

  .logoMobile {
    width: 20vw;
    margin-top: -10px;
    margin-left: -30px;
  }

  button {
    margin-top: 5vh;
  }

  .mobile-nav-container {
    margin-left: 25vw;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-nav {
    margin-bottom: 0px;
    height: 120px;
  }

  .mobile-nav-container {
    display: grid;
    margin-left: 15vw;
  }

  .MuiMenu-list {
    width: 92vw !important;
  }

  .mobile-ul {
    font-size: 50px !important;
  }

  .MuiPopover-paper {
    width: 101vw;
  }

  .fa-bars {
    padding-left: 4% !important;
    color: white !important;
  }

  nav {
    display: none;
  }

  button {
    margin-top: 2vh;
  }

  .logoMobile {
    margin-left: -30px;
  }
}
