.mobile-nav {
  display: none !important;
}

@media only screen and (max-width: 1025px) {
  button {
    color: orange;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .MuiPaper-root {
    text-align: -webkit-center;
  }

  .MuiPopover-paper {
    outline: 0;
    position: absolute;
    max-width: none !important;
    max-height: none !important;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.781) !important;
    left: 0px !important;
    width: 105vw;
    height: 101vh;
    top: 0px !important;
    bottom: 0px !important;
  }

  .mobile-nav {
    display: initial !important;
    position: fixed;
    left: 2vw;
    z-index: 8;
    margin-top: 3vh;
    text-align: center;
  }

  .mobile-nav-container {
    margin-left: 35vw;
    margin-top: 10vh;
  }

  .mobile-close {
    color: white;
    float: right;
    margin-right: 4vw;
    margin-top: 2vh;
  }

  .MuiMenu-list {
    height: 98vh !important;
    width: 97vw !important;
  }

  .menu-item-mobile {
    font-size: 40px !important;
    font-family: "Poiret One", cursive;
    margin-top: 5vh !important;
  }

  button:focus {
    outline: none;
    background-color: rgb(106, 140, 168, 0);
  }

  .mobile-ul {
    color: white;
  }
}

@media only screen and (max-width: 770px) {
  .mobile-nav {
    margin-top: 3vh;
  }

  .MuiMenu-list {
    height: 97vh !important;
    width: 96vw !important;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-nav {
    margin-bottom: 0px;
  }

  .mobile-nav-container {
    margin-top: 15vh;
    margin-left: 25vw;
  }

  .MuiMenu-list {
    width: 92vw !important;
  }

  .mobile-ul {
    font-size: 35px;
  }

  .MuiPopover-paper {
    width: 101vw;
  }
}
